i {
    cursor: pointer;
}

.logo_img {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

.hero_image{
    text-align: center;
}

.container_hero_image{
    width: 98vw;
    max-height: 75vh;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.foto_perfil {
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50px;
    margin-top: -80px;
    margin-left: 5px;
    z-index: 1;
}

.nombre {
    margin-top: 80px;
}

.logo_unefa {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.skills {
    text-align: center;
}

.proyecto_argentina {
    color: #000;
}

/* LOGIN */

.container__form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

.form__label{
    padding: 10px 0;
}

.form__input{
    padding: 10px;
}

.form__textarea{
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
}

.btn-submit{
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}

.btn-submit:hover{
    background: #ccc;
}